---
# Github workflow to sign container images with artifact signing
name: Sign

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  sign:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Notation CLI
        uses: notaryproject/notation-action/setup@v1
        with:
          version: "1.3.1"

      - name: Install Azure Artifact Signing Notation plugin
        run: |
          notation plugin install \
            --url https://github.com/Azure/artifact-signing-notation-plugin/releases/download/v1.1.0/notation-azure-artifactsigning_1.1.0_linux_amd64.tar.gz \
            --sha256sum 459075a5cdadcdba334b728838d617fa330f19b45848ba993a4d2a061f49d4ac

      - name: Verify plugin installed
        run: notation plugin ls

      - name: Add notation key
        run: |
          notation key add "jaxelr-key" \
            --plugin azure-artifactsigning \
            --plugin-config accountName="jaxelr" \
            --plugin-config certProfile="jaxelr-pt" \
            --plugin-config baseUrl="https://eus.codesigning.azure.net/" \
            --id "jaxelr"

      - name: Verify key added
        run: notation key ls

      - name: Start local OCI registry
        run: |
          docker run -d -p 5000:5000 ghcr.io/oras-project/registry:v1.0.0-rc.4

      - name: Build image
        run: |
          docker --debug build \
            -t localhost:5000/net-monitor:v1 \
            https://github.com/wabbit-networks/net-monitor.git#main

      - name: Push image
        run: |
          docker push localhost:5000/net-monitor:v1

      - name: Capture IMAGE reference
        run: |
          IMAGE_REF=$(docker inspect --format='{{index .RepoDigests 0}}' localhost:5000/net-monitor:v1)
          echo "IMAGE=$IMAGE_REF" >> $GITHUB_ENV

      - name: Download TSA root certificate
        run: |
          mkdir -p .github/certs
          curl -o .github/certs/msft-tsa-root.crt \
            "http://www.microsoft.com/pkiops/certs/microsoft%20identity%20verification%20root%20certificate%20authority%202020.crt"

      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Sign image (with timestamp)
        uses: notaryproject/notation-action/sign@v1
        with:
          plugin_url: https://github.com/Azure/artifact-signing-notation-plugin/releases/download/v1.1.0/notation-azure-artifactsigning_1.1.0_linux_amd64.tar.gz 
          plugin_checksum: 459075a5cdadcdba334b728838d617fa330f19b45848ba993a4d2a061f49d4ac
          plugin_name: azure-artifactsigning
          key_id: jaxelr
          target_artifact_reference: ${{ env.IMAGE }}
          timestamp_url: "http://timestamp.acs.microsoft.com/"
          timestamp_root_cert: ".github/certs/msft-tsa-root.crt"

      - name: Check signed image
        run: notation ls "$IMAGE"
